<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!-- Header - set the background image for the header in the line below-->
<header class="py-5 bg-image-full" style="background-image: url('https://source.unsplash.com/wfh8dDlNFOk/1600x900')">
  <div class="text-center my-5">
    <img class="img-fluid rounded-circle mb-4" th:src="@{/img/pic.jpg}" alt="..." />
    <h1 class="text-white fs-3 fw-bolder">N년차 초보 개발자</h1>
    <p class="text-white-50 mb-0">각종 기록</p>
    <br>
    <div class="instgram-section">
      <img th:src="@{/img/instagram.png}"/>
      <a href="https://www.instagram.com/lit__key/">lit__key</a>
    </div>
  </div>
</header>
</html>
